{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

<!--REMEMBER TO ADD TO THE HEAD-->

{% block content %}
<table class = "table table-striped table-hover">
    <thead>
        <tr>
        {% for header_element in table["header"] %}
        <th scope="col">
            {% if table_name == 'NOCs' and header_element in ["Gold", "Silver", "Bronze", "Total Medal"] %}
            <a href = '/medal_table/{{table["header"][header_element]}}' class="link-dark">
                {{header_element}}
            </a>
            {% else %}
                {{header_element}}
            {% endif %}
        </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for data_row in table["data"] %}
        <tr>
        {% set count = namespace(value=0) %}
        {% for data in data_row %}
            {% if count.value == 0: %}
                <td><a href = "/relation/{{table_name}}*{{data.replace('_',' ')}}" class ="btn btn-outline-dark btn-sm">{{data}}</a></td>
            {% else %}
                <td>{{data}}</td>
            {% endif %}
            {% set count.value = count.value + 1 %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}