{% extends "base.html"%}

{% block title %}
Main Page
{% endblock %}

{% block head %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1>
            <p style="font-family: Oswald">Welcome to the 2022 Beijing Olympics Database
            </p>
        </h1>
        <figure class="figure">
            <img src="https://img.olympicchannel.com/images/image/private/f_auto//primary/lqdmzt3zbmjoqlkyxeay" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          </figure>
      <p class="lead fw-normal">Please select from the navbar to get more information.</p>
      <!-- <a class="btn btn-outline-secondary" href="#">Please select from the navbar to get more information.</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


{% endblock %}